// Definiere eine Variable für die Hauptfarbe
@primary-color: #000000;

@color: lighten(@primary-color, 10%);

@font-face {
    font-family: "Kalnia Glaze";
    src: url("../KalniaGlaze-VariableFont_wdth,wght.tff") format("truetype");
}

body {
    background-color: @color; // Setzt die Hintergrundfarbe auf die Hauptfarbe
    font-family: "Kalnia Glaze", sans-serif;

    h1 {
        color: rgb(8, 33, 30);
    }
}